@model ICollection<wwDrink.Models.ClientAspect>

@if (Model != null && Model.Count == 0)
{
    <div class="message-info">
        <p>There are no aspects configured for a user.</p>
    </div>
}
else
{
}
