@model dynamic

@{
    ViewBag.Title = "About wwDrink";
}

<div class="about">
<h2>About wwDrink</h2>
<div>
    Where and what to drink is a web site dedicated to helping you find your ideal venue that caters for your specific tastes.
</div>
<div>
<h3>Mission</h3>
    <p>Our mission is to create a database of bars, pubs and clubs that allows the specific aspects of a venue to be searched by our users.  We match the users desired profile traits and use the aspects of the venues to augment and modify the ranking of establishments in the search results, giving the user an easy means to find their desired venue.  The aspects that relate to an establishment are collected through our user reviews.  Users who add specific information for a venue allow others to locate their preferred establishment.
    </p>
    <p>
    In an effort to identify the best venues in each city of each country and of each world (we have high hopes, try searching for mars)
    </p>
</div>

    <div>
        <h3>The Story</h3>
        <p>By Anthony O’Gorman & Chip Willman</p>
        <i>Creators of wwDrink</i>
        <p>
            Both living and working in Melbourne Australia, in August 2013 we were invited to a wedding in Ireland, with both of us being very fond of drinking and neither of us had been to Ireland, allegedly the home of drinking. The six week trip was planned well in advance along with one major rule, ‘we must try and drink in as many different pubs/bars/clubs as possible while travelling across Ireland, Scotland, Amsterdam and Copenhagen. 
            Upon arriving back in Australia, we had amassed a list of 117 bars and major liver damage. 
            During our trip, without meaning too, we began to rate each bar we entered, thus the thought came up, wouldn’t it be great to have a website that worked towards finding the best places to go in every city in every country and one day, maybe even be able to define which venue could be rated as best in the world.
        </p>
    </div>

<div>
<h3>Privacy Statement</h3>
    <p>
        wwDrink will not share any information about data collected on a specific users drinking habits.
    </p>
    <p>wwDrink will publish drinking trend data at a suburb or municipality level with aggregated user information.  A minimum of 25 representative users in an area is required for a samples dataset to be generated.  During the course of generating the data no specific user information will be included in the report or any link to the user originally responsible for generating the data.</p>
    
    <p>In the event a court order is issued to release user information, we would be forced to hand order specific information relating to the requested user which could include the users screen name and any reviews they have posted.  For users of the random nights mobile app (coming soon), we can only store "A Great Night Out", and "Random Night" GPS coordinates for a very limited time due to storage requirements.  All event GPS data older than two weeks is deleted.  Users have an option to immediately delete their stored GPS data on thier manage account page.</p>
</div>

<div>
<h3>Reviews</h3>

    <p>
        As incentive for wwDrink users to leave valid reviews, we are hoping to invite the top 10 reviewers on wwDrink to join us on our next international pub crawl.
    </p>
    
    <p>
        Reviewers are rated by a combination of wwDrink users votes, Facebook likes other social media postings. Rating indexes are updated nightly.
    </p>
    
</div>

</div>
